/* App.css */

/* Header styles */

.header {
  position: fixed; /* Change to fixed */
  top: 0; /* Position at the top of the viewport */
  width: 100%; /* Occupy the full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 10px;
  z-index: 1000;
  size: 50%;
}

.left {
  font-size: 24px;
}

.right button {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.link {
  color: white;
}

.right button:hover {
  text-decoration: none;
}

/* Logout button styles */

.logout {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Key for rows */
  justify-content: center;
}

.logout button:hover {
  background-color: #d32f2f;
}

/* Image container styles */
.logout {
  margin-top: 20px;
  display: flexbox;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  padding: 20px;
}

/* Image container styles */
.logout .image-container {
  /* New container */
  display: flex;
  flex-wrap: wrap; /* Key for rows */
}

.logout .image-container div {
  margin: 10px;
  flex: 1 0 33.33%; /* Key for three images per row */
}

/* Image styles */

.logout img {
  width: 200px;
  height: 200px;
}
